[Unit]
Description=etcd
Documentation=http://github.com/coreos

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd \
  --name {{name}} \
  --initial-advertise-peer-urls http://{{private_ip}}:2380 \
  --listen-peer-urls http://{{private_ip}}:2380 \
  --listen-client-urls http://{{private_ip}}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls http://{{private_ip}}:2379 \
  --initial-cluster {{name}}=http://{{private_ip}}:2380 \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
